# MacOS
.DS_Store

# Entornos virtuales
venv/

# Configuración y Entornos
.ENV

# Archivos compilados de Python
__pycache__/

# Archivos de Excel (excepto plantilla en src/templates)
*.xlsx
!src/templates/*.xlsx